@font-face {
  font-family: 'Century Gothic';
  src: local('Century Gothic'), url('/fonts/century-gothic/century-gothic-regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Century Gothic';
  src: local('Century Gothic'), url('/fonts/century-gothic/century-gothic-bold.woff') format('woff');
  font-style: normal;
  font-weight: 800;
}
